@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);
#header {
	width: 1000px;
	height: 70px;
	margin: 20px auto 40px auto;
	position: relative;
}
#header h1 {
	margin : 0;
	position: absolute;
}
#nav {
	position: absolute;
	right: 0;
}
#nav ul {
	list-style-type: none;
	overflow: hidden;
}
#nav ul li {
	float: left;
}
#footer p {
	margin-bottom: 0;
	padding: 14px 0 14px 0;
	background-image: url(../images/bg_footer.png);
	background-repeat: repeat-x;
	text-align: center;
}

footer small {
	font-size: 12px;
}

#main h1 {
	background-image:url(../images/h1.png);
	background-repeat: no-repeat;
	margin: 0 0 20px 0;
	padding: 8px 0 3px 40px;
	font-size: 162%;
}
/* 基本レイアウト ここまで↑ */

/* 「施設のご案内」ページ ここから↓ */
img.float_right {
	margin: 0 20px 20px 0;
	float: left;
}

.float_clear {
	clear: both;
}

article ul {
	list-style-type: circle;
}

/* 「施設のご案内」ページ ここまで↑ */
/* 「料金プラン」ページ ここから↓ */
table {
	border-collapse: collapse;
}
table th  {
	background-image: url(../images/bg_footer.png);
}
table tr td {
	border: solid 1px rgb(180, 201, 194);
}
/* 「料金プラン」ページ ここまで↑ */

/* 「ご意見・ご要望」ページ ここから↓ */

/* 「ご意見・ご要望」ページ ここまで↑ */
